*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgb(0,100,255);
    color: rgb(0,100,255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: color-anim 12s infinite;
    animation-play-state: running;
}
@keyframes  color-anim
{
    17%{
        background-color: rgb(0,200,155);
        color: rgb(0,200,155);
    }
    33%{
        background-color: rgb(0,200,50);
        color: rgb(0,200,90);
    }
    50%{
        background-color: rgb(200, 200, 0);
        color: rgb(200,200,0);
    }
    67%{
        background-color: rgb(250,50,0);
        color: rgb(250,50,0);
    }
    83%{
        background-color: rgb(150,0,200);
        color: rgb(150,0,200);
    }
}

h1{
    width: 20vh;
    height: 10vh;
    padding: 5vh 0;
    text-align: center;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px white;
    font-size: 8vh;
    font-family: sans-serif;
}

span{
    display: none;
    color: white;
    text-align: center;
    animation: blink 1s infinite;
    animation-play-state: running;
}
@keyframes blink 
{
    from{opacity: 1;}  
    to{opacity: 0;}  
}

hr{
    width: 10vw;
    height: 1vh;
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px 2px white;
    animation: hr-anim 3s infinite;
    animation-play-state: running;
}
@keyframes hr-anim
{
    33.33%{width: 80vw;}
    66.66%{
        width: 10vw;
        transform: rotate(0);
    }
    100%{transform: rotate(360deg);}
}


@media screen and (orientation:landscape)
{
  body{
      width: 90vw;
      margin: auto;
      flex-direction: row; 
  }
  h1{
      width: 30vh;
      padding: 10vh 1vw;
  }
  span{
    display: block;
    font-size: 20vh;
  } 
  hr{margin-left: 3vw;}
}